body{
  background:  #52616b;
  margin:0;
  padding:0;
}

.remember{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.fmgr16{
  margin-right: 16px;
}
.wrap {
  margin:5vh 16vw 10vh 16vw;
  color: #fff;
}

.wrap .blocks{
  margin-bottom: 10px;
  padding: 16px 0;
  border-bottom: 1px dashed #ddd;
  display: flex;
  flex-wrap: wrap;
}
.wrap .blocks .title{
  font-size: 16px;
  color:#c9d6df;
  margin-right: 10px;
}


.wrap .url {
  margin-right: 10px;
  font-size:12px;
  color: #f7fbfc;
  text-decoration: none;
  padding: 6px 4px;
}

.wrap .highlight{
  background-color: gold;
}